.header{
background-color: rgba(0, 0, 0, 0.87);/*Con esto le pongo color al fondo*/
padding: 1px;/*con esto le pongo mas espacio al apartado*/
margin: -8px;/*Con esto le meto mas margen y le quito marguen que sobre*/
/*border: solid 19px black;/*Con esto le pongo un borde*/

}
h1{
    color: rgb(255, 255, 255);/*Con esto le pongo color al texto*/
    text-align: center; /*Con esto centro el texto*/s
}
nav{
    text-align: center;/*Con esto centro el texto*/
    padding: 10px;/*Con esto le pongo mas espacio al apartado*/
    background-color: black;/*Con esto le pongo color al fondo*/
    margin: -3px;/*Con esto le meto mas margen y le quito marguen que sobre*/
}
.section{
    text-align: center;/*Con esto centro el texto*/
}
.footer{
    text-align: center;/*Con esto centro el texto*/
}
body{
    background-color: grey;/*Con esto le pongo color de fondo*/
}
