.header{
background-color: rgba(0, 0, 0, 0.87);/*Con esto le pongo color al fondo*/
padding: 3px;/*con esto le pongo mas espacio al apartado*/
margin: -8px;/*Con esto le meto mas margen y le quito marguen que sobre*/
/*border: solid 19px black;/*Con esto le pongo un borde*/
}
h1{
    color: rgb(255, 255, 255);/*Con esto le pongo color al texto*/
    text-align: center;/*Con esto centro el texto*/
}
nav{
    text-align: center;/*Con esto centro el texto*/
    padding: 20px;/*Con esto le pongo mas espacio al apartado*/
    background-color: black;/*Con esto le pongo color al fondo*/
    margin: -3px;/*Con esto le meto mas margen y le quito marguen que sobre*/
}
nav a {
    text-decoration: none;/*con esto le quito la raya del texto*/
    padding: 50px;/*con esto le pongo espacio entre los textos del nav */
}
.section{
    margin:-8px;/*Con esto le meto mas margen y le quito marguen que sobre*/
}
.footer{
    text-align: center;/*Con esto centro el texto*/
    position: fixed;/*Con esto fijo el footer*/
    left: 0;/*pone el elemento pegado al lado izquierdo de la pantalla*/
    bottom: 0;/*pone el elemento abajo del todo*/
    width: 100%;/* hace que todo el elemento coja toda la parte inferior de la pantalla*/
    padding: 5px 0;/*con esto le pongo mas espacio y le pongo 0 de espacio entre los lados*/
    color: rgb(255, 255, 255);/*Con esto pinto el texto*/
    background-color: rgb(0, 0, 0);/*con esto le pongo color al fondo del footer*/
}
body{
    background-color: grey;/*Con esto le pongo color de fondo*/
    margin: 0;/*con esto le quito el margen que puede quedar*/
    padding: 0;/*con esto le quito el padding que puede quedar*/
    width: 100vw; /*con esto dejo establecido el ancho de la pagina*/
    height: 100vh;/*con esto dejo establecido el alto de la pagina*/
    overflow-x: hidden; /* Elimina el desplazamiento horizontal */
}
#bg-video{
    width: 100%;/*con esto le pongo el ancho al video*/
}
@keyframes cambiarcolor{/*con esto le meto una animacion al texto*/
    0%{ color:rgb(236, 37, 37);}
    50%{ color:rgb(139, 28, 28);}
    100%{ color:rgb(216, 44, 44);}
}
h1{
    animation: cambiarcolor 3s infinite;
}
@keyframes cambiarcolor2{/*con esto le meto una animacion al texto*/
    0% {color:cyan;}
    50% {color:rgb(0, 140, 255);}
    100% {color:aqua}
}
.footer{
    animation: cambiarcolor2 3s infinite;
}
@keyframes cambiarcolor3{/*con esto le meto una animacion al texto*/
    0% {color:blueviolet}
    50% {color: rgb(86, 16, 151);}
    100% {color: rgb(133, 2, 0);}
}
nav a{
    animation: cambiarcolor3 3s infinite;
}

