html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1{
    color: black;
    animation: h1a 5s infinite;
}

.header{
    text-align: center;
    width: 100vw;
    background-color:white;
    padding: 0.007vh;
    border-radius: 6.94vw;
    box-shadow: 0.13vw 0.13vw 0.90vw white;
}

.d1{
    animation: colorb1 3s infinite;
    border-radius: 2.04vw;
    background-color: black;
    border: 0.30vw solid rgb(13, 0, 255);
    width: 15.0vw;
    height: 6.0vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3.5vw;
    margin-top: 1.05vw;
}
.d1 a{
    text-decoration: none;
}
.d1:hover{
    animation: c1 1s ease-in-out infinite alternate;
}

.d2{
    display: flex;
    border-radius: 2.04vw;
    background-color: black;
    border: 0.30vw solid rgb(13, 0, 255);
    animation: colorb1 3s infinite;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 15.0vw;
    height: 6.0vw;
    margin-left: 3.1vw;
    margin-top: 1.05vw;
}
.d2 a{
    text-decoration: none;
}
.d2:hover{
    animation: c1 1s ease-in-out infinite alternate;
}

.d3{
    border-radius: 2.04vw;
    background-color: black;
    border: 0.20vw solid rgb(13, 0, 255);
    animation: colorb1 3s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.05vw;
    width: 15.0vw;
    height: 6.0vw;
    margin-left: 3.30vw;
}
.d3 a{
    text-decoration: none;
}
.d3:hover{
    animation: c1 1s ease-in-out infinite alternate;
}

.d4{
    display: flex;
    border: 0.30vw solid transparent;
    border-radius: 2.04vw;
    background-color: black;
    animation: colorb1 3s infinite;
    justify-content: center;
    align-items: center;
    height: 6.0vw;
    width: 15.0vw;
    margin-left: 3.5vw;
    margin-top: 1.05vw;
}
.d4 a{
    text-decoration: none;
}
.d4:hover{
    animation: c1 1s ease-in-out infinite alternate;
}

.d5{
    display: flex;
    border-radius: 2.04vw;
    background-color: black;
    border: 0.21vw solid rgb(13, 0, 255);
    animation: colorb1 3s infinite;
    justify-content: center;
    width: 15.0vw;
    height: 6.0vw;
    align-items: center;
    margin-left: 15vw;
    margin-top: 1.05vw;
}
.d5 a{
    text-decoration: none;
}
.d5:hover{
    animation: c1 1s ease-in-out infinite alternate;
}

@keyframes c1{
    0%{
        transform: scale(0.9);
        border-color: rgb(13, 0, 255);
        box-shadow: 0 0 1.3vw rgb(13, 0, 255);}
    50%{
        border-color: transparent;
        box-shadow: 0 0 1.3vw transparent;}
    100%{
        border-color: rgb(13, 0, 255);
        box-shadow: 0 0 1.3vw rgb(13, 0, 255);
        transform: scale(1);}
}

.container1{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

@keyframes h1a{
0%{
    color:rgb(106, 173, 255)
}
50%{
    color:rgb(126, 70, 255);
}
100%{
    color: rgb(106, 173, 255);
}
}

.container2{
    background-color: white;
    width: 45vw;
    height: 44vh;
    display: flex;
    margin: auto;
    flex-direction: column;
    border-radius: 1.04vw;
    box-shadow: 0.13vw 0.13vw 1.0vw white;
    margin-bottom: 5.04vw;
    flex-direction: column;
    font-size:medium;
    font-style: italic;
}

@keyframes colorb1{
    0%{
        border-color: rgb(13, 0, 255);
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: rgb(13, 0, 255);
    }
}

.row{
    display: flex;
}
@media (max-width: 770px) {
    .col-md-12{
        width: 5.9vw;
    }
}
.footer{
    display: flex;
    justify-content: center;/*Con esto centro el texto*/
    align-items: center;/*Con esto centro el texto verticalmente*/
    position: fixed;/*Con esto fijo el footer*/
    left: 0;/*Pone el elemento pegado al lado izquierdo de la pantalla*/
    bottom: 0;/*Pone el elemento abajo del todo*/
    width: 100%;/*Hace que todo el elemento coja toda la parte inferior de la pantalla*/
    padding: 13px 0;/*Con esto le pongo mas espacio y le pongo 0 de espacio entre los lados*/
    background-color: rgb(0, 0, 0);/*Con esto le pongo color al fondo del footer*/
    font-weight: bold;/*Hace la letra más gruesa*/
    font-style: italic;/*Hace la fuente en cursiva*/
    margin-top: 1.05vw;
}
.footer a{
    text-decoration: none;
    animation: cambiarcolor2 4s infinite;
}

@keyframes cambiarcolor2{/*Con esto le meto una animacion al texto*/
    0% {color:rgb(47, 0, 255);}
    50% {color:rgb(0, 140, 255);}
    100% {color:rgb(47, 0, 255);}
}
