html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1{
    color: black;
    animation: h1a 5s infinite;
}

.header{
    text-align: center;
    width: 100vw;
    background-color:white;
    padding: 0.007vh;
    border-radius: 6.94vw;
    box-shadow: 0.13vw 0.13vw 0.90vw white;
}

.d1{
    border: 0.13vw solid transparent;
    animation: colorb1 3s infinite;
    border-radius: 2.04vw;
    background-color: black;
    border: 0.21vw solid rgb(13, 0, 255);
    width: 20.0vw;
    height: 6.0vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.d1 a{
    text-decoration: none;
}
.d1:hover{
    animation: c1 1s ease-in-out infinite alternate;
}

.d2{
    display: flex;
    border-radius: 6.94vw;
    border: 0.13vw solid transparent;
    border-radius: 2.04vw;
    background-color: black;
    border: 0.21vw solid rgb(13, 0, 255);
    animation: colorb1 3s infinite;
    text-align: center;
    margin-left: 26.08vw;
    margin-top: -5.50vh;
    justify-content: center;
    align-items: center;
    width: 20.0vw;
    height: 6.0vw;
}
.d2 a{
    text-decoration: none;
}
.d2:hover{
    animation: c1 1s ease-in-out infinite alternate;
}

.d3{
    position: absolute;
    border-radius: 6.94vw;
    border: 0.13vw solid transparent;
    padding: 6.48vh;
    border-radius: 1.04vw;
    background-color: black;
    bottom: 4.17vh;
    border: 0.21vw solid rgb(13, 0, 255);
    animation: colorb1 3s infinite;
}
.d3 a{
    text-decoration: none;
}
.d3:hover{
    animation: c1 1s ease-in-out infinite alternate;
}

.d4{
    position: absolute;
    border-radius: 6.94vw;
    border: 0.13vw solid transparent;
    padding: 6.48vh;
    border-radius: 1.04vw;
    background-color: black;
    bottom: 4.17vh;
    right: 2.08vw;
    border: 0.21vw solid rgb(13, 0, 255);
    animation: colorb1 3s infinite;
}
.d4 a{
    text-decoration: none;
}
.d4:hover{
    animation: c1 1s ease-in-out infinite alternate;
}

.d5{
    position: absolute;
    border-radius: 6.94vw;
    border: 0.13vw solid transparent;
    padding: 6.48vh;
    border-radius: 1.04vw;
    background-color: black;
    right: 17.19vw;
    bottom: 13.89vh;
    border: 0.21vw solid rgb(13, 0, 255);
    animation: colorb1 3s infinite;
}
.d5 a{
    text-decoration: none;
}
.d5:hover{
    animation: c1 1s ease-in-out infinite alternate;
}

@keyframes c1{
    0%{
        transform: scale(0.9);
        border-color: rgb(13, 0, 255);
        box-shadow: 0 0 1.3vw rgb(13, 0, 255);}
    50%{
        border-color: transparent;
        box-shadow: 0 0 1.3vw transparent;}
    100%{
        border-color: rgb(13, 0, 255);
        box-shadow: 0 0 1.3vw rgb(13, 0, 255);
        transform: scale(1);}
}

.container1{
    width: 100vw;
    height: 100vh;
    background-color: black;

}

@keyframes h1a{
0%{
    color:rgb(106, 173, 255)
}
50%{
    color:rgb(126, 70, 255);
}
100%{
    color: rgb(106, 173, 255);
}
}

.container2{
    background-color: white;
    width: 45vw;
    height: 40vh;
    display: flex;
    margin: auto;
    flex-direction: column;
    border-radius: 1.04vw;
    box-shadow: 0.13vw 0.13vw 0.69vw white;
    padding: 3.78vh;
    margin-bottom: 5.04vw;
    flex-direction: column;
    
    ;
}

@keyframes colorb1{
    0%{
        border-color: rgb(13, 0, 255);
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: rgb(13, 0, 255);
    }
}
