html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
h1{
    color: white;
}
.header{
    text-align: center;
    width: 100%;
    background-color:grey;
    padding: 1px;
    border-radius: 100px;
}
.d1{
    position: absolute;
    left: 700px;
    bottom: 400px;
    border-radius: 100px;
    border: 1px solid transparent;
    animation: cambiarcolor1 5s infinite;
    padding: 15px;
}
.d1 a{
    text-decoration: none;
}

@keyframes cambiarcolor1{
    0%{
        border-color: rgb(13, 0, 255);
        box-shadow: 0 0 5px rgb(13, 0, 255);}
    50%{
        border-color: transparent;
        box-shadow: 0 0 5px transparent;}
    
    100%{
        border-color: rgb(13, 0, 255);
        box-shadow: 0 0 5px rgb(13, 0, 255);}
    
    
}
.container1{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}
